@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here


*,
*::before,
*::after {
  box-sizing: border-box;
}

.drop-off-bins {
  color: green;
  text-align: center;
}

.bin-info-show-page {
  color: green;
  border: solid;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 30px;
  width: 50%;
}

// .link-color{
//   color: green;
// }

body {
  background-image: url(https://www.twi-global.com/image-library/hero/sustainability-istock-473558826.jpg);
  z-index: -1;
  font-family: Montserrat, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.links-to-showpage {
  border: solid;
  border-radius: 10px;
  width: 30%;
  padding: 20px;
  margin: 30px;
  background-color: white;
  color: green;
} 

.forms {
  border: solid;
  border-radius: 10px;
  background-color: white;
  margin: 100px;
  padding: 40px;
}

.homepage {
  border: solid;
  border-radius: 10px;
  background-color: white;
  margin: 100px;
  padding: 40px;
}

.button {
  border: solid;
  border-radius: 10px;
}